<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NotificationService</title>
  <base href="/">  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link href="assets/icons/css/fontawesome.css" rel="stylesheet">
  <link href="assets/icons/css/brands.css" rel="stylesheet">
  <link href="assets/icons/css/solid.css" rel="stylesheet">
<link rel="stylesheet" href="styles.bb2b23eb204f3c909b9c.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.8542ad13de74eefab1fd.js"></script><script type="text/javascript" src="polyfills.172992015f0cd7ee80ae.js"></script><script type="text/javascript" src="scripts.ea9a7b51b5073e2a08c5.js"></script><script type="text/javascript" src="main.3440ffa5837411779c04.js"></script></body>
</html>
